<div>
    <h2 id="page-heading">
        <span>Obligaciones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-obligacion" [routerLink]="['/obligacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obligacionesApp.obligacion.home.createLabel">
            Create a new Obligacion
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="obligacions?.length === 0">
        <span jhiTranslate="obligacionesApp.obligacion.home.notFound">No obligacions found</span>
    </div>
    <div class="table-responsive" *ngIf="obligacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.codigoObligacion">Codigo Obligacion</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.nombre">Nombre</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.descripcion">Descripcion</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.fecha">Fecha</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.valorTotal">Valor Total</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.valorPeriodo">Valor Periodo</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.nomeroPeriodos">Nomero Periodos</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.periodoActual">Periodo Actual</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.vigente">Vigente</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.estado">Estado</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.obligacion.producto">Producto</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obligacion of obligacions ;trackBy: trackId">
                <td><a [routerLink]="['/obligacion', obligacion.id, 'view' ]">{{obligacion.id}}</a></td>
                <td>{{obligacion.codigoObligacion}}</td>
                <td>{{obligacion.nombre}}</td>
                <td>{{obligacion.descripcion}}</td>
                <td>{{obligacion.fecha | date:'mediumDate'}}</td>
                <td>{{obligacion.valorTotal}}</td>
                <td>{{obligacion.valorPeriodo}}</td>
                <td>{{obligacion.nomeroPeriodos}}</td>
                <td>{{obligacion.periodoActual}}</td>
                <td>
                    <div style="background-color: #00ff00; padding: 2px 5px; border-radius: 4px" *ngIf="obligacion.vigente">Sí</div>
                    <div style="background-color: #ff0000; padding: 2px 5px; border-radius: 4px" *ngIf="!obligacion.vigente">No</div>
                </td>
                <td jhiTranslate="{{'obligacionesApp.Estado.' + obligacion.estado}}">{{obligacion.estado}}</td>
                <td>
                    <div *ngIf="obligacion.producto">
                        <a [routerLink]="['/producto', obligacion.producto?.id, 'view' ]" >{{obligacion.producto?.id}} - {{obligacion.producto?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/obligacion', obligacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/obligacion', obligacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(obligacion)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
