<div>
    <h2 id="page-heading">
        <span jhiTranslate="obligacionesApp.cliente.home.title">Clientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="obligacionesApp.cliente.home.createLabel">
            Create a new Cliente
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="clientes?.length === 0">
        <span jhiTranslate="obligacionesApp.cliente.home.notFound">No clientes found</span>
    </div>
    <div class="table-responsive" *ngIf="clientes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.identificacion">Identificacion</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.tipoDeDocumento">Tipo De Documento</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.nombreDelCliente">Nombre Del Cliente</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.segundoNombreDelCliente">Segundo Nombre Del Cliente</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.primerApellido">Primer Apellido</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.segundoApellido">Segundo Apellido</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.rezonSocial">Rezon Social</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.direccion">Direccion</span></th>
            <th scope="col" ><span jhiTranslate="obligacionesApp.cliente.telefono">Telefono</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                <td><a [routerLink]="['/cliente', cliente.id, 'view' ]">{{cliente.id}}</a></td>
                <td>{{cliente.identificacion}}</td>
                <td jhiTranslate="{{'obligacionesApp.TipoDeDocumento.' + cliente.tipoDeDocumento}}">{{cliente.tipoDeDocumento}}</td>
                <td>{{cliente.nombreDelCliente}}</td>
                <td>{{cliente.segundoNombreDelCliente}}</td>
                <td>{{cliente.primerApellido}}</td>
                <td>{{cliente.segundoApellido}}</td>
                <td>{{cliente.rezonSocial}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.telefono}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(cliente)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
