<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="obligacionesApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.identificacion" for="field_identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                           required formControlName="identificacion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.tipoDeDocumento" for="field_tipoDeDocumento">Tipo De Documento</label>
                    <select required (change)="optionChangedChecker($event.target.value)" class="form-control" name="tipoDeDocumento" formControlName="tipoDeDocumento" id="field_tipoDeDocumento">
                        <option value="" selected>Seleccionar Uno...</option>
                        <option value="NIT">{{'obligacionesApp.TipoDeDocumento.NIT' | translate}}</option>
                        <option value="CC">{{'obligacionesApp.TipoDeDocumento.CC' | translate}}</option>
                        <option value="CE">{{'obligacionesApp.TipoDeDocumento.CE' | translate}}</option>
                        <option value="TI">{{'obligacionesApp.TipoDeDocumento.TI' | translate}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="!isNit">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.nombreDelCliente" for="field_nombreDelCliente">Nombre Del Cliente</label>
                    <input type="text" class="form-control" name="nombreDelCliente" id="field_nombreDelCliente"
                           formControlName="nombreDelCliente"/>
                </div>
                <div class="form-group" *ngIf="!isNit">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.segundoNombreDelCliente" for="field_segundoNombreDelCliente">Segundo Nombre Del Cliente</label>
                    <input type="text" class="form-control" name="segundoNombreDelCliente" id="field_segundoNombreDelCliente"
                           formControlName="segundoNombreDelCliente"/>
                </div>
                <div class="form-group" *ngIf="!isNit">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.primerApellido" for="field_primerApellido">Primer Apellido</label>
                    <input type="text" class="form-control" name="primerApellido" id="field_primerApellido"
                           formControlName="primerApellido"/>
                </div>
                <div class="form-group" *ngIf="!isNit">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.segundoApellido" for="field_segundoApellido">Segundo Apellido</label>
                    <input type="text" class="form-control" name="segundoApellido" id="field_segundoApellido"
                           formControlName="segundoApellido"/>
                </div>
                <div class="form-group" *ngIf="isNit">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.rezonSocial" for="field_rezonSocial">Rezon Social</label>
                    <input type="text" class="form-control" name="rezonSocial" id="field_rezonSocial"
                           formControlName="rezonSocial"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="obligacionesApp.cliente.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
